@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@700&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6F6;
    --cor-terciaria: #ff0000;
    --cor-quaternaria: #111111;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 2% 2% 15%;
    background-color: var(--cor-quaternaria);
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-terciaria);
    text-decoration: none;
    transition: ease-out 0.5s;
}

.cabecalho__menu__link:hover {
    cursor: pointer;
    color: var(--cor-secundaria);
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.apresentacao__conteudo__titulo {

    font-weight: 400;
    width: 100%;
    font-size: 3rem;
    font-family: var(--fonte-primaria);
}

strong {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto a{
    text-decoration: none;
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 3px solid var(--cor-terciaria);
    width: 17.5rem;
    font-weight: 800;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    font-size: 1.5rem;
    padding: 16.5px 0px;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    box-shadow: inset 0 0 0 0 var(--cor-quaternaria);
    transition: ease-out 0.5s;
    outline: none;

}

.imagem__links {
    width: 2rem;
    height: 2rem;
}


.apresentacao__links__link:hover {
    box-shadow: inset 18.75rem 0 0 0 var(--cor-quaternaria);
    cursor: pointer;
    color: var(--cor-terciaria);
}

.imagem {
    width: 28.0625rem;
    height: 27.5625rem;
    border-radius: 30%;
    background-color: var(--cor-terciaria);
    padding: 0.75rem;
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 800px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
    }

    .apresentacao__conteudo {
        width: auto;
    }

}